@use "@angular/material" as mat;

@mixin color($color-config) {
  $primary-color: mat.get-color-from-palette($color-config, primary);

  app-banner {
    .header {
      background-color: mat.get-color-from-palette($primary-color, default);
      color: mat.get-color-from-palette($primary-color, default-contrast);
    }

    .content {
      background-color: mat.get-color-from-palette($primary-color, 100);
      color: mat.get-color-from-palette($primary-color, "100-contrast");
    }
  }
}

@mixin typography($typography-config) {
  app-banner {
    .header h2 {
      // font-size: mat.font-size($typography-config, headline-6);
      // font-family: mat.font-family($typography-config, headline-6);
      @include mat.typography-level($typography-config, headline-6)
    }

    .content p {
      @include mat.typography-level($typography-config, caption)
    }
  }
}

@mixin theme($theme-config) {
  $color-config: mat.get-color-config($theme-config);
  $typography-config: mat.get-typography-config($theme-config);

  @if $color-config != null {
    @include color($color-config)
  }

  @if $typography-config != null {
    @include typography($typography-config)
  }
}